@media (min-width: 1200px) {
    #covid .my-sm-4 {
        margin-bottom: 0 !important;
    }

    #contact .maps {
        width: 450px !important;
        height: 450px;
        border:0;
    }

    #header .copyright {
        text-align: center;
        font-size: 7px;
        color: aliceblue;
        margin-top: 180px !important;
        font-size: 10px;
    }
}

/* medium */
@media (min-width: 768px) and (max-width: 991px) {
   
    #contact .maps {
        width: 640px !important;
    }

    #hero .hero-container {
        margin-left: 0px !important;
    }

     #hero h1 {
        font-size: 48px !important;
    }

     .resume .sertifikat {
        margin-left: 1px !important;
        padding-top: 26px !important;
        padding: 3 !important;
    }

    #footer {
        position: static;
        width: auto;
        padding-right: 20px 15px;
    }

    #header .copyright {
        text-align: center;
        font-size: 7px;
        color: aliceblue;
        margin-top: 450px !important;
        font-size: 10px;
    }
}

@media (min-width: 1024px) and (max-width: 1366px)  {
    
    #footer {
        position: static;
        width: auto;
        padding-right: 20px 15px;
    }

    #header .copyright {
        text-align: center;
        font-size: 7px;
        color: aliceblue;
        margin-top: 290% !important;
        font-size: 10px;
    }

}

/* Tablet */
@media (min-width: 576px) and (max-width: 767px)  {
    #hero .hero-container {
        margin-left: 400px !important;
    }

    .resume .sertifikat {
        margin-left: 1px !important;
        padding-top: 26px !important;
        padding: 3 !important;
    }
}

/* MOBILE */
@media (max-width: 575px) {
    #hero .hero-container {
       margin-left: 10px !important;
    }

    .resume .sertifikat {
        margin-left: 1px !important;
        padding-top: 26px !important;
        padding: 3 !important;
    }
}

@media (max-width: 400px) {
    #hero h1 {
        font-size: 27px;
        line-height: 25px;
        margin-right: 5px;
    }

    #hero p {
        font-size: 18px;
    }

   #header .copyright {
        text-align: center;
        font-size: 7px;
        color: aliceblue;
        margin-top: 270px !important;
        font-size: 10px;
    }
}